<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <label ng-if="!update" id="createReserevas">Crear Articulos</label>
                <label ng-if="update" id="updateReserevas">Actualizar Articulos</label>
            </div>
            <div class="panel-body">
                <form name="articulos">
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="articulosNombreArticulos" class="col-sm-4">Nombre reserva:</label>
                            <input id="articulosNombreArticulos" required ng-model="data.nombreArticulos"
                                   class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="articulosLink" class="col-sm-4">Link Reserevas:</label>
                            <input id="articulosLink" required ng-model="data.linkArticulos" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!articulos.$valid">


                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-sm-12">
                            <input ng-show="articulos.$valid" ng-click="createReserevas()" value="Guardar"
                                   class="btn btn-success"/>
                            <a class="btn btn-info" ui-sref="articulosList">Cancelar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


