<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div class="container-fluid">
    <hr>
    <div class = "row">
        <div class = "row-sm-3"></div>
        <div class = "row-sm-6">
            <div class="btn-group">
                <button type="button" class="btn btn-outline-warning btn-lg" ui-sref="reclamoCreate">Crear Comentario</button>
            </div>
        </div>
        <div class = "row-sm-3"></div>
    </div>
    <div class ="container-fluid">
        <h2>Comentarios:</h2>
        <ul class="list-group">
            <div ng-repeat="reclamo in reclamosRecords">
                <li class="list-group-item" >
                    <div class="row">
                        <div class="col-sm-6" ui-sref="reclamoDetail({reclamoId: reclamo.id})" >
                            <p> {{reclamo.mensaje}}</p>
                        </div>
                        <div class="col-sm-3">
                            <button type="button" class="btn btn-danger" ui-sref="borrarReclamo({reclamoId: reclamo.id})">Borrar Reclamo</button>
                            <button type="button" class="btn btn-warning" ui-sref="updateReclamo({reclamoId: reclamo.id})">Modificar Reclamo</button>
                        </div>
                    </div>
                </li>

            </div>
        </ul>
    </div>
</div>