<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h5 id="createPago">Crear pago</h5>
            </div>
            <div class="panel-body">
                <form name="pago">
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="pagoEstado" class="col-sm-4">Estado:</label>
                            <input id="pagoEstado" required ng-model="data.estadoTransaccion"/>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="fecha" class="col-sm-4">Fecha:</label>
                            <input id="fecha" type="date" required ng-model="data.fecha">
                        </div>
                    </div>


                    <div class="form-group row">
                        <div class="form-group col-sm-12">
                            <input ng-show="pago.$valid" ng-click="createPago()" value="Continuar"
                                   class="btn btn-success"/>
                            <a class="btn hola" ui-sref="pagoList">Cancelar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


