<div class="container-fluid">
    <div class="row">
        <form>
            <h1 ng-if="isAuthenticated() "style="color: #5e9ca0;">Agregar un art&iacute;culo</h1>
            <hr/>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <table border="2">
                <tbody>
                <tr>
                    <td><span style="color: #0000ff; background-color: #ccffff;">Nombre del art&iacute;culo</span></td>
                    <td><textarea style="margin: 0px; height: 20px; width: 139px;"
                                  ng-model="nuevoArticulo.nombreArticulo"> </textarea></td>
                </tr>
                </tbody>
            </table>
            <p>&nbsp;</p>
            <table border="2">
                <tbody>
                <tr>
                    <td>
                        <p><span style="color: #0000ff; background-color: #ccffff;">Link de la im&aacute;gen</span></p>
                    </td>
                    <td><textarea style="margin: 0px; height: 20px; width: 139px;"
                                  ng-model="nuevoArticulo.rutaImagen"> </textarea></td>
                </tr>
                </tbody>
            </table>
            <p>&nbsp;</p>
            <table style="width: 303px;" border="2">
                <tbody>
                <tr>
                    <td style="width: 137px; text-align: left;"><span
                            style="color: #0000ff; background-color: #ccffff;">&nbsp;Precio del art&iacute;culo&nbsp;</span>
                    </td>
                    <td style="width: 152px;"><textarea style="margin: 0px; height: 20px; width: 139px;"
                                                        ng-model="nuevoArticulo.precio"> </textarea>&nbsp;
                    </td>
                </tr>
                </tbody>
            </table>
            <p>&nbsp;&nbsp;</p>
            <p>
                <button class="btn btn-primary" type="button" ui-sref="articulosCreate(nuevoArticulo)"> Continuar
                </button>
            </p>
        </form>
    </div>

</div>