<div class='container-fluid'>
    <div class=" 'row">
        <--!ng-model meto una varible en el scope, de tal forma que lo que cambie en el imput va a
        <--! cambiar en la variable, pasa tanto enn el input como en el text area>
        Punto de Inicio:<input class="form-control" type='text' ng-model="p_inicio"> <br>
        Punto de Encuentro: <textarea class="form-control" type="text" ng-model="p_fin"> </textarea> <br>
       <--! ui-sref para mandarlo a otro estado>
        <button class="btn btn-danger" ui-sref="puntos({inicio:p_inicio, fin: p_fin})">Continuar</button>
    </div>
</div>