<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}}</alert>
<div class="container-fluid">
    <div class="container-fluid">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <a href=".#!/inicio"><button type="button" class="btn btn-primary">Volver</button></a>
        </div>
        <br> </br>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Calificacion</th>
                    <th>Costo</th>
                    <th>Descripcion</th>
                    <th>Estado</th>
                    <th>Punto de encuentro</th>
                    <th>Punto de realizacion</th>
                    <th>Costo de transporte</th>
                    <th>Desplazamiento</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="reserva in reservasRecords">
                    <td><a ui-sref="entregaDetail ({reservaId: reserva.id})">{{reserva.id}}</a></td>
                    <td>{{reserva.nombre}}</td>
                    <td>{{reserva.calificacion}}</td>
                    <td>{{reserva.costo}}</td>
                    <td>{{reserva.descripcion}}</td>
                    <td>{{reserva.estado}}</td>
                    <td>{{reserva.puntoDeEncuentro}}</td>
                    <td>{{reserva.puntoDeRealizacion}}</td>
                    <td>{{reserva.costoDeTransporte}}</td>
                    <td>{{reserva.desplazamiento}}</td>
            <button type="button" class="btn btn-primary" ui-sref="deleteReserva({reservaId: reserva.id})">
                Eliminar
            </button>
            </tr>
            </tbody>
        </table>
    </div>
</div>



