<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div class="container-fluid">
    <div class="container-fluid">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>    
                    <th>Nombre</th>  
                    <th>Cedula</th> 
                    <th>Fecha de ingreso</th> 
                    <th>Calificacion</th> 
                    <th>Pago Anticipado</th> 
                    <th>Horas de servicio semanal</th> 
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cliente in clientesRecords">
                    <td > <a ui-sref="clienteDetail">{{cliente.id}}</a></td>
                    <td >{{cliente.nombre}}</td>  
                    <td >{{cliente.cedula}}</td>
                    <td >{{cliente.fechaDeIngreso}}</td>
                    <td >{{cliente.calificacion}}</td>
                    <td >{{cliente.pagoAnticipado}}</td>
                    <td >{{cliente.horasDeServicioSemanal}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



