<section id="contact" class="section green">
    <div class="container">
        <h4>Crear un cliente</h4>
        <div class="blankdivider30">
        </div>
        <div class="row">
            <div class="span12">
                <div class="cform" id="contact-form">
                    <div id="sendmessage">Your message has been sent. Thank you!</div>
                    <div id="errormessage"></div>
                    <form action="" method="post" role="form" class="contactForm">
                        <div class="row">
                            <div class="span6">
                                <form ng-submit="createCliente()" name="cliente">

                                    <div class="field your-name form-group">
                                        <label for="clienteId" class="col-sm-6">Id:</label>
                                        <input type="text" id="clienteId" required ng-model="clienteId" class="form-control" id="clienteId" placeholder="Your Id" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                        <div  class="validation"></div>
                                    </div>
                                    <div class="field your-name form-group">
                                        <label for="clienteCedula" class="col-sm-6">Cedula</label>
                                        <input type="text" id="clienteCedula" required ng-model="clienteId" class="form-control" id="clienteCedula" placeholder="Cedula" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                        <div  class="validation"></div>
                                    </div>
                                    <div class="field your-name form-group">
                                        <label for="clienteFechaIngreso" class="col-sm-6">Fecha de ingreso</label>
                                        <input type="text" id="clienteFechaIngreso" required ng-model="clienteFechaIngreso" class="form-control" id="clienteFechaIngreso" placeholder="1999-06-27" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                        <div  class="validation"></div>
                                    </div>
                                    <div class="field your-name form-group">
                                        <label for="clienteCalificacion" class="col-sm-6">Calificacion</label>
                                        <input type="text" id="clienteCalificacion" required ng-model="clienteCalificacion" class="form-control" id="clienteCalificacion" placeholder="Calificacion" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                        <div  class="validation"></div>
                                    </div>
                                    <div class="field your-name form-group">
                                    <label for="clientePagoAnticipado" class="col-sm-6">Pago anticipado</label>
                                    <input type="text" id="clientePagoAnticipado" required ng-model="clientePagoAnticipado" class="form-control" id="clientePagoAnticipado" placeholder="Pago anticipado" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                    <div  class="validation"></div>
                                </div>
                                    <div class="field your-name form-group">
                                        <label for="clienteHorasDeServicioSemanal" class="col-sm-6">Horas de servicio semanal</label>
                                        <input type="text" id="clienteHorasDeServicioSemanal" required ng-model="clienteHorasDeServicioSemanal" class="form-control" id="clienteHorasDeServicioSemanal" placeholder="Horas de servicio semanal" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                        <div  class="validation"></div>
                                    </div>
                                </form>
                            </div>
                            <div class="span6">

                                <input type="submit" value="Guardar" class="btn btn-theme pull-left">
                            </div>

                        </div>
                    </form>
                </div>
            </div>
            <!-- ./span12 -->
        </div>
    </div>
</section>