<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <label ng-if="!update" id="createReserevas">Crear Reservas</label>
                <label ng-if="update" id="updateReserevas">Actualizar Reservas</label>
            </div>
            <div class="panel-body">
                <form name="reservas">
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="reservasNombreReservas" class="col-sm-4">Nombre reserva:</label>
                            <input id="reservasNombreReservas" required ng-model="data.nombreReservas"
                                   class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="reservasLink" class="col-sm-4">Link Reserevas:</label>
                            <input id="reservasLink" required ng-model="data.linkReservas" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!reservas.$valid">


                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-sm-12">
                            <input ng-show="reservas.$valid" ng-click="createReserevas()" value="Guardar"
                                   class="btn btn-success"/>
                            <a class="btn btn-info" ui-sref="reservasList">Cancelar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


