<div class="col-sm-8 bonito">
    <ul>

        <h3>{{clienteActual.nombre}}</h3>
        <hr>
        <h2>Compras en Tienda:</h2>
        <div ng-repeat=" compra in clienteActual.comprasEnTienda">
            <li>Descripcion: {{compra.descripcion}}</li>
            <li>Estado: {{compra.estado}}</li>
            <li>Calificacion: {{compra.calificacion}}</li>
            <li>Costo: {{compra.costo}}</li>
            <li>Costo de Transporte: {{compra.costoDeTransporte}}</li>
        </div>
        <h2>Entrega de Documentos:</h2>
        <div ng-repeat=" doc in clienteActual.entregasDeDocumentos">
            <li>Descripcion: {{doc.descripcion}}</li>
            <li>Estado: {{doc.estado}}</li>
            <li>Calificacion: {{doc.calificacion}}</li>
            <li>Costo: {{doc.costo}}</li>
            <li>Costo de Transporte: {{doc.costoDeTransporte}}</li>
            <li>Porcentaje Extra: {{doc.porcentajeExtra}}</li>
        </div>
        <h2>Organizaciones:</h2>
        <div ng-repeat=" org in clienteActual.organizaciones">
            <li>Descripcion: {{org.descripcion}}</li>
            <li>Estado: {{org.estado}}</li>
            <li>Calificacion: {{org.calificacion}}</li>
            <li>Costo: {{org.costo}}</li>
            <li>Costo de Transporte: {{org.costoDeTransporte}}</li>
            <li>Costo de Duracion {{org.costoDeDuracion}}</li>
            <li> Desplazamiento: {{org.desplazamiento}}</li>
        </div>
        <h2>Vueltas con demora en Oficina:</h2>
        <div ng-repeat=" ofi in clienteActual.vueltasConDemoraEnOficina">
            <li>Descripcion: {{ofi.descripcion}}</li>
            <li>Estado: {{ofi.estado}}</li>
            <li>Calificacion: {{ofi.calificacion}}</li>
            <li>Costo: {{ofi.costo}}</li>
            <li>Costo de Transporte: {{ofi.costoDeTransporte}}</li>
            <li>punto de Realizacion: {{ofi.puntoDeRealizacion}}</li>
        </div>

    </ul>
</div>
