<section id="contact" class="section green">
    <div class="container">
        <h4>Crear un articulos</h4>
        <div class="blankdivider30">
        </div>
        <div class="row">
            <div class="span12">
                <div class="cform" id="contact-form">
                    <div id="sendmessage">Your message has been sent. Thank you!</div>
                    <div id="errormessage"></div>
                    <form action="" method="post" role="form" class="contactForm">
                        <div class="row">
                            <div class="span6">
                                <form ng-submit="createArticulo()" name="articulos">

                                    <div class="field your-name form-group">
                                        <label for="articulosRutaImagen" class="col-sm-6">RutaImagen:</label>
                                        <input type="text" id="articulosRutaImagen" required ng-model="articulosId" class="form-control" rutaImagen="articulosRutaImagen" placeholder="Your Id" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                        <div  class="validation"></div>
                                    </div>
                                     <div class="field your-name form-group">
                                        <label for="articulosNombre" class="col-sm-6">Nombre:</label>
                                        <input type="text" id="articulosNombre" required ng-model="articulosNombre" class="form-control" id="articulosNombre" placeholder="Your Id" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                        <div  class="validation"></div>
                                    </div>
                                     <div class="field your-name form-group">
                                        <label for="articulosPrecio" class="col-sm-6">Precio:</label>
                                        <input type="text" id="articulosPrecio" required ng-model="articulosPrecio" class="form-control" id="articulosPrecio" placeholder="Your Id" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                        <div  class="validation"></div>
                                    </div>
                                   
                                </form>
                            </div>
                            <div class="span6">

                                <input ng-click="createArticulo()" value="Save" class="btn btn-success"/>

                                <a class="btn btn-info" ui-sref="articulosList">Cancel</a>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
            <!-- ./span12 -->
        </div>
    </div>
</section>