<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <label ng-if="!update" id="createPse">Crear PSE</label>
                <label ng-if="update" id="updatePse">Actualizar PSE</label>
            </div>
            <div class="panel-body">
                <form name="pse">
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="pseNombreCliente" class="col-sm-4">Nombre cliente:</label>
                            <input id="pseNombreCliente" required ng-model="data.nombreCliente" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="pseLink" class="col-sm-4">Link Pse:</label>
                            <input id="pseLink" required ng-model="data.linkPse" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!pse.$valid">

                            <div class="alert alert-warning" >
                                <p>Todos los campos son obligatorios.</p>
                            </div> 
                        </div> 
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-sm-12">
                            <input ng-show="pse.$valid" ng-click="createPse()" value="Guardar" class="btn btn-success"/>
                            <a class="btn btn-info" ui-sref="pseList">Cancelar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


