<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading"><label ng-if="!edit" id="createEntrega">Crear un nuevo cliente</label>
                <label ng-if="edit" id="editEntrega">Editar cliente</label></div>
            <div class="panel-body">
                <form ng-submit="createEntrega()" name="entrega">
                    <div class="form-group row">

                        <label for="entregaId" class="col-sm-6">Id:</label>
                        <input id="entregaId" required ng-model="entregaId" class="col-sm-6"/>

                    </div>
                    <div class="form-group row">

                        <label for="entregaNombre" class="col-sm-6">Nombre:</label>
                        <input id="entregaNombre" required ng-model="entregaNombre" class="col-sm-6"/>

                    </div>
                    <div class="form-group row">
                        <label for="entregaCalificacion" class="col-sm-6">Calificacion:</label>
                        <input id="entregaCalificacion" required ng-model="entregaCalificacion" class="col-sm-6"/>
                    </div>
                    <div class="form-group row">
                        <label for="entregaCosto" class="col-sm-6">Costo:</label>
                        <input id="entregaCosto" required ng-model="entregaCosto" class="col-sm-6"/>
                    </div>
                    <div class="form-group row">
                        <label for="entregaDescripcion" class="col-sm-6">Descripcion:</label>
                        <input id="entregaDescripcion" required ng-model="entregaDescripcion" class="col-sm-6"/>
                    </div>
                    <div class="form-group row">
                        <label for="entregaEstado" class="col-sm-6">Estado:</label>
                        <input id="entregaEstado" required ng-model="entregaEstado" class="col-sm-6"/>
                    </div>
                    <div class="form-group row">
                        <label for="entregaPuntoDeEncuentro" class="col-sm-6">Punto de encuentro:</label>
                        <input id="entregaPuntoDeEncuentro" required ng-model="entregaPuntoDeEncuentro" class="col-sm-6"/>
                    </div>
                    <div class="form-group row">
                        <label for="entregaPuntoDeRealizacion" class="col-sm-6">Punto de realizacion:</label>
                        <input id="entregaPuntoDeRealizacion" required ng-model="entregaPuntoDeRealizacion" class="col-sm-6"/>
                    </div>
                    <div class="form-group row">
                        <label for="entregaCostoDeTransporte" class="col-sm-6">Costo de transporte:</label>
                        <input id="entregaCostoDeTransporte" required ng-model="entregaCostoDeTransporte" class="col-sm-6"/>
                    </div>
                    <div class="form-group row">
                        <label for="entregaPorcentajeExtra" class="col-sm-6">Porcentaje extra:</label>
                        <input id="entregaPorcentajeExtra" required ng-model="entregaPorcentajeExtra" class="col-sm-6"/>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-sm-6" ng-if="!entrega.$valid">

                            <div class="alert alert-warning" >
                                <strong>Advertencia!</strong><p>Todos los campos son necesarios</p>
                            </div> 
                        </div> 
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-sm-12">
                            <input ng-show="entrega.$valid" ng-click="createEntrega()" value="Save" class="btn btn-success"/>
                            <a class="btn btn-info" ui-sref="entregasList">Cancel</a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


