<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}}</alert>
<div class="container-fluid">
    <div class="btn-group mr-2" role="group" aria-label="First group">
        <a href=".#!/inicio"><button type="button" class="btn btn-primary">Volver</button></a>
        <a ui-sref = "vueltacondemoraAgregar"><button type="button" class="btn btn-primary">Crear una vuelta</button></a>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Punto de encuentro</th>
                <th>Punto de realizacion</th>
                <th>Calificación</th>
                <th>Descripcion</th>
                <th>Estado</th>
                <th>Costo</th>
                <th>Costo de transporte</th>
                <th>Costo por duración</th>
                <th>Acciones</th>
                <!--<th>Pago</th>-->
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="vuelta in vueltasRecords">
                <td> {{vuelta.id}}</td>
                <td>{{vuelta.nombre}}</td>
                <td>{{vuelta.puntoDeEncuentro}}</td>
                <td>{{vuelta.puntoDeRealizacion}}</td>
                <td>{{vuelta.calificacion}}</td>
                <td>{{vuelta.descripcion}}</td>
                <td>{{vuelta.costo}}</td>
                <td>{{vuelta.costoDuracion}}</td>
                <td>
                    <button class="btn btn-primary btn-sm" ui-sref="vueltaDelete({idVuelta: vuelta.id})">Ver detalle</button>
                </td>
                <td>
                    <button class="btn btn-danger btn-sm" ui-sref="vueltaDelete({idVuelta: vuelta.id})">Eliminar</button>
                </td>

            </tr>
        </tbody>
    </table>
</div>
